<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Cuisine</title>
  </head>
  <body>
    <form action="/cuisines/new" method="post">
      <label for="cuisine-name">Kind of Cuisine:</label>
      <input type="text" name="cuisine-name" id="cuisine-name">
      <button type="submit">submit</button>
    </form>


  </body>
</html>
