<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Restaurants are Great.</h1>
    <h4><a href="/cuisines">View Cuisines</a></h4>
    <h4><a href="/restaurants">View Restaurants</a></h4>
  </body>
</html>
